<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>oreg.van.certrenew</string>
    <key>Program</key>
    <string>/Users/van/Documents/scripts/cert/renew_kick.sh</string>
    <key>RunAtLoad</key>
    <false/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>3</integer>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/var/log/vscript/certbot_renew_error.log</string>
    <key>StandardOutPath</key>
    <string>/var/log/vscript/certbot_renew_output.log</string>
</dict>
</plist>
